/* variable */
:root {
  --white: #c1c1c1;
  --border:rgba(0, 0, 0, .5);
  --buttonColor:rgba(255,165,0,0.85);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 8px;
}

/* mobile designe */
main {
  margin: 15vh auto 0 auto;
  text-align: center;
  font-size: 2rem;
  width: 50vh;
  
}

body{
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

#body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(500px,auto),repeat(5,100px);
    align-items: center;
    
}

.button {
  font-size: 6rem;
  text-align: center;
  border:var(--border) 2px solid;
  background-color: var(--buttonColor);
}

#display {
    font-size: 6rem;
    text-align: end;
    padding-right: 1rem;
    background-color:rgba(0, 0, 0, .8);
    border: solid 2px var(--border);
    color: white;
    
 
  
}

#display .previousDisplay {
  font-size: 2rem;
}

#display .currentDisplay {
  font-size: 6rem;
}

.currentDisplay {
  min-height: 7rem;
  max-height: auto;
  width: 100%;
  border-top: solid 2px var(--white);
  padding-right: 1rem;
word-wrap: break-word;
word-break: break-all;

}

.previousDisplay {
  height: 3rem;
  padding-right: 1rem;
}

[data-equall="="] {
  grid-column: 4/5;
  grid-row: 4/6;
  height: 100%;
  padding-top: 3rem;
}

[data-delet="del"] {
  grid-column: 3/5;
}


.button:hover{
    border: black 2px solid;
    background-color: white;
}
